//Declaration des animations
@keyframes rotation-aller {
    from {
        transform: rotate(-1turn);
    }
    to {
        transform: rotate(0turn);
    }
}

.menu .menu-liste__article {
    * {
        margin: 0;
        //padding: 0;
    }
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 1rem;
    width: 21rem;
    height: 4.5rem;
    line-height: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    @include ombre-basse;
    overflow: hidden;
    white-space: nowrap;
    &__txt {
        flex: 10;
        transition: flex 1s;
        overflow: hidden;
    }
    &__nom {
        font-weight: bold;
        font-size: 1.1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__description {
        display: block;
        font-size: 0.8rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &__prix {
            font-size: 0.9rem;
            font-weight: bold;
            padding-right: 1rem;
            padding-top: 2rem;
            margin-left: auto;
            //transform: translateX(4rem);
            //transition: transform 1s;
        }
    }
    //fond invisible au départ
    &__fond-cache {
        //width: 4.5rem;
        height: 4.5rem;
        display: flex;
        //Correction pour correspondre aux bords
        margin-top: -0.25rem;
        margin-right: -0.5rem;
        background-color: $clr-tertiaire;
        flex: 0 1 0;
        overflow: hidden;
        white-space: nowrap;
        //transform: translateX(4.5rem);
        transition: flex 0.5s;
        i {
            width: 100%;
            font-size: 1.5rem;
            margin: auto;
            text-align: center;
            color: white;
        }
    }
    
    //animation du menu
    &:hover .menu-liste__article__fond-cache {
        flex: 1;
        i {
            animation: rotation-aller 0.8s 0.1s;
        }
        transition: flex 0.5s;
    }
    &:hover .menu-liste__article__txt {
        flex: 4 1;
    }

}
