.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom :0;
    width: 100vw;
    height: 100vh;
    background-color: $clr-fond-gris;
    animation: disparition 0.5s 2.5s both;
    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        //margin: auto;
        width: 7.5rem;
        height: 7.5rem;
        text-align: center;
        border-radius: 4rem;
        background: $fond-degrade;
        animation: bob 0.5s infinite alternate ease-in-out both;
        color: white;
        &__titre {
            font-size: 1rem;
            animation: bob 0.5s 0.25s infinite ease-in-out alternate both;
        }
    }
    &__logo {
        margin-top: -5rem;
        font-size: 1.5rem;
        font-family: 'Shrikhand', cursive;
        animation: apparition 1s 2s backwards;
    }
    
}