//Animations du spinner
@keyframes disparition {
    from {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
    }
    
    to {
        opacity: 0;
        z-index: 0;
        transform: scale(0);
        animation-timing-function: ease-in-out;
    }
}

@keyframes spinner {
    //inutilisée
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes bob {
    from {
        transform: translateY(-1rem);
    }
    to {
        transform: translateY(1rem);
    }
}

@keyframes unradius {
    //Inutilisée
    from {
        border-radius: 4rem;
    }
    to {
        border-radius: 2rem;
        height: 2rem;
    }
}

//Apparition d'un article
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(1rem);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//Rotation du checkmark
@keyframes rotation-aller {
    from {
        transform: rotate(-1turn);
    }
    to {
        transform: rotate(0turn);
    }
}

//Défilement du dégradé
@keyframes defile {
    from {
        background-position: 35%;
    }
    25% {
        background-position: 5%;
    }
    50% {
        background-position: 35%;
    }
    75% {
        background-position: 95%;
    }
    to {
        background-position: 35%;
    }
}

//Coeur animé plus ultra
@keyframes battant {
    10% {
        background-position: 5%;
    }
    20% {
        background-position: 35%;
    }
    50% {
        background-position: 95%;
        transform: scale(1.5);
    }
    60% {
        transform: scale(0.5);
    }
    70% {
        background-position: 35%;
        transform: scale(1.5);
    }
    80% {
        background-position: 5%;
        transform: scale(0.5);
    }
    90% {
        background-position: 35%;
        transform: scale(1.5);
    }
    95% {
        transform: scale(0.9);
    }
    100% {
        //background-size: 10000%;
        transform: scale(1.1);
    }
}