@mixin ombre-basse {
    box-shadow: 0 0.2rem 0.5rem 0.1rem $clr-ombre;
}

@mixin wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin prepa-coeur {
    color: transparent;
    background: $fond-degrade-etendu-alt;
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(0);
    background-size: 1000%;
    background-position: 65%;
}