.explication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    height: 15rem;
    padding: 2rem 0;
    * {
        text-align: center;
    }
    h1 {
        width: 15rem;
        //border: 1px solid black;
        font-size: 1.5rem;
    }
    p {
        width: 22.5rem;
        font-size: 1rem;
    }
}