.menu header {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 5rem;
        //Centré pour iPhone mais marge fixe, se décalera vers la gauche pour de plus grandes résolutions        
    }
    nav {
        font-size: 1.2rem;
        margin-left: 1rem;
        a {
            color: black;
        } 
    }
} 