.menu header {
    display: flex;
    justify-content: center;
    background-color: #fff;
    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        //Mettre la marge opposé à nav pour que ça reste centré
        margin-left: 4rem;
    }
    nav {
        //Prendre la marge opposé à h1 pour que ça s'aligne à gauche
        margin-left: -4rem;
        font-size: 1.2rem;
        a {
            color: black;
        } 
    }
} 