.menu .menu-liste {
    max-width: 70rem;
    margin: auto;
    h3 {
        font-weight: normal;
        font-size: 1rem;
        text-transform: uppercase;
        box-sizing: border-box;
        margin-left: 1rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.25rem;
            width: 2rem;
            border-bottom: 0.2rem solid $clr-tertiaire;
        }
    }
    &__wrapper {
        //Permet de faire apparaître les éléments avec un décalage
        //Changer le dernier argument de scatter s'il y a un plus grand nombre d'éléments
        @include wrapper;
        &--entrees {
            @include scatter(menu-liste__article,0s,0.2s,4);
        }
        &--plats {
            @include scatter(menu-liste__article,1s,0.2s,4);
        }
        &--desserts {
            @include scatter(menu-liste__article,2s,0.2s,4);
        }
    }   
}